html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    font-size: 10px;
}

body {
    display: block;
    color: #333;
    font-size: 1.6rem;
    margin: 0;
}

article {
    background-color: #eee;
    margin: 0.1rem 0.6rem;
    border: 1px solid #eee;
    border-radius: 5px;
    margin: 3rem 0.8rem;
    font-size: inherit;
}

#header {
    text-align: center;
    font-size: inherit;
}

#header #title {
    font-size: 4rem;
    margin-top: 4.4rem;
}

#header p {  
    font-size: inherit;
    margin-top: -1.2rem;
}

#main {
    margin: 1.8rem auto;
    padding: 0;
    width: 97.9%;
    min-width: 270px;
    font-size: inherit;
}

#img-div {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 100%;
    min-width: 270px;
    padding: 1rem 0;
    font-size: inherit;
    border-radius: 5px;
}

#image {
    width: 90%;
    min-width: 270px;
    max-width: 1024px;
    object-fit: cover;
    border-radius: 2px;
}

#img-caption {
    
    margin: 1.6rem auto 0.6rem auto;
    width: 90%;
    min-width: 270px;
    text-align: center;
}

#tribute-info {
    width: max(550px, 5.5vw);
    margin: 0 auto;
}

#tribute-info h3 {
    text-align: center;
    margin: 5.5rem auto;
    font-weight: 700;
}

#tribute-info ul {
    margin: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

#tribute-info ul li {
    line-height: 3rem;
}

